@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-padrao: #3B4CCA;
    --cor-padrao-hover: #87CEEB;
    --cor-fonte: #fff;
    --cor-fonte-p: #272727;
    --cor-btn:#daaa00;
    --cor-btn-hover:#FFCB05;
    --cor-btn-fonte: #FFFFFF;
    --cor-fonte-corpo:#1555;
    --cor-fonte-corpo-leve:#777;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}

.banner .linha {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container hr {
    border: 0;
    height: 1px;
    background-color: var(--cor-btn-fonte);
    margin: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
    transition: padding 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    padding: 5px 10px;
    color: var(--cor-padrao-hover);
}
    
.carrinho {
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrinho:hover {
    transform: scale(1.2);
}

.banner p {
    color: var(--cor-fonte);
}

p {
    color: var(--cor-fonte-p);
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.corpo-produtos .linha {
    display: grid !important; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-items: center; 
    max-width: 1200px;
    margin: 0 auto;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn {
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s, padding 0.5s, border-radius 0.5s;
}

.btn:hover {
    padding: 13px 35px;
    border-radius: 35px;
    background-color: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.categorias {
    margin: 70px 0; 
}

.titulo {
    text-align: center;
    margin-bottom: 50px;
    color: var(--cor-fonte-corpo);
    position: relative;
}

.titulo::after {
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.categorias h3 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cor-fonte-corpo-leve);
}

.corpo-categorias {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}

.col-3:hover {
    transform: scale(1.1);
}

.col-3 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4 {
    flex: 0 0 calc(25% - 20px);  
    min-width: 200px; 
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    min-height: 380px;
}

.col-4 h4 {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0; 
    font-size: 14px;
    padding: 0 5px;
}

.col-4 p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-fonte-p);
    margin-top: 0;
    padding-bottom: 10px;
    margin-top: 5px;
}

.col-4 hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

.col-4:hover {
    transform: scale(1.1);
}

.col-4 img {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    background-color: transparent; 
    margin-bottom: 15px;
}

.ofertas {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 30px;
    padding: 30px 0;
    margin-bottom: 30px;
}

.col-2 .oferta-img{
    padding: 50px;
}

small {
    color: var(--cor-btn-fonte);
}

.ofertas p {
    color: var(--cor-fonte-p);
}

.depoimentos {
    padding-top: 10px;
    padding-bottom: 100px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimentos .col-3:hover {
    transform: scale(1.1);
}

.depoimentos .col-3 img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);
}

.classificacao{
    color: var(--cor-padrao);
    margin: 10px 0;
}

.depoimento-icone {
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p {
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3 {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}

.rodape {
    background: #000;
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 16px;
}

.rodape a {
    color: var(--cor-fonte);
    text-decoration: none;
}

.rodape p {
    color: var(--cor-fonte);
}

.rodape h3 {
    color: var(--cor-fonte);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1 {
    flex-basis: 30%;
}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3, .rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.rodape hr {
    border: 0;
    height: 1px;
    background-color: var(--cor-btn-fonte);
    margin: 20px 0;
}

.direitos {
    text-align: center;
}


.menu-celular {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* Pagina de Produtos */

.novoMenu nav ul li a{
    color: var(--cor-fonte-p);
}

/* Estilos para telas menores */

@media only screen and (max-width: 800px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative; 
        z-index: 1005; 
    }

    nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: #000;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1000; 
    }

    nav ul li {
        display: block;
        margin: 15px 50px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-celular, .carrinho {
        display: block !important;
        cursor: pointer;
        position: relative;
        z-index: 1010; 
    }

    .carrinho {
        margin-left: auto;
        margin-right: 15px;
    }

    .novoMenu nav ul li a {
        color: #fff;
    }
}

@media only screen and (max-width: 600px) {
    
    .linha {
        text-align: center;
    }

    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }

    .col-2 h1 {
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4 {
        text-align: center;
    }

    .col-4 p {
        font-size: 24px;
    }


}

@media only screen and (max-width: 768px) {
    .corpo-produtos .linha {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 480px) {
    .corpo-produtos .linha {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    
    .col-4 {
        width: 90%;
    }

}